*{
    padding: 0;
    margin: 0;
}

h3{
    justify-self: center;
    margin-top: -30px;
    color:  rgb(37, 104, 168);
}

#myForm{
    padding: 50px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1.2rem;
    width: 25%;
    justify-self: center;
    border: solid 2px black;
    background-color: blanchedalmond;
    margin: 5px;
    justify-content: center;
    border-radius: 20px;
}

#myForm input{
    border-radius: 5px;
    width: 150%;
    justify-self: center;
    background-color: #efefef;
}

#fName:focus, #eName:focus {
    outline: none;
}

.notValid {
    border: solid 2px red;
}

.Valid {
    border: solid 2px green;
}


#myForm button{
    border-radius: 100px;
    background-color: rgb(37, 104, 168);
    color: white;
    font-size: large;
    width: 100%;
    justify-self: center;
    padding: 3px;
    border: solid 1px white;
}

#myForm button:hover{
    cursor: pointer;
    background-color: rgb(27, 176, 27);
    text-decoration: underline;
}

#myForm p{
    color: red;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

